.header nav a{
     margin-left: 42px;
     color: black;
     text-decoration: none;
}
.header nav a:hover{
     color: #a78eec;
}
.header nav{
    margin: 2rem auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10rem;  
}
.header h3{
    font-weight: bold;
}
.ApplyButton{
    background-color: #a78eec;
    color: white;
}
.headerMain{
    background-color: #d8d3e5;
    place-items: center;
}